/* Importar fontes */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilo do corpo */
body {
    background: #db5d2f;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

/* Estilo do formulário */
.form {
    width: 80vw; 
    height: 80vh; 
    margin: 30px auto; 
    padding: 0px; 
    border-radius: 20px; 
    box-shadow: 25px 30px 40px 80px rgba(0, 0, 0, 0.1); 
    background: #fff;
}

/* Estilo da seção */
section {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 20px;
}

/* Estilo do cabeçalho */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    display: flex;
    margin-left: auto; /* Alinha a lista de navegação à direita */
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

/* Estilo do conteúdo */
.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Estilo da caixa de texto */
.content .textBox {
    position: relative;
    max-width: 600px;
}

.content .textBox h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span {
    color: #e23703;
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox p {
    color: #333;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #e23703;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

/* Estilo da caixa de imagem */
.content .imgBox {
    width: auto; /* Permite que a imagem seja maior conforme necessário */
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    padding-right: 50px;
}

.content .imgBox img {
    max-width: 500px; /* Ajuste o tamanho máximo da imagem */
    height: auto;
}

/* Estilo das miniaturas */
.thumb {
    position: absolute;
    bottom: 0px;
    left: 0; /* Alinhe à esquerda */
    width: 100%; /* Ocupe toda a largura do contêiner pai */
    display: flex;
    justify-content: center; /* Centraliza os itens dentro do contêiner .thumb */
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover {
    transform: translateY(-15px);
}

.thumb img {
    width: 100px; /* Ajuste o tamanho das miniaturas */
    height: auto;
}

.imgtenis {
    width: 30px;
}

#menu {
    position: absolute;
    left: 0; /* Alinhe à esquerda */
    width: 100%; /* Ocupe toda a largura do contêiner pai */
    display: flex;
    justify-content: center;
}

/* Estilo dos ícones: redes sociais */
.sci {
    position: absolute;
    top: 50%;
    right: 30px; /* Alinhado à direita */
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}

.sci li a img {
    width: 100px;
    height: auto;
    filter: none;
    opacity: 1;
}

/* Estilo do círculo lateral esquerdo */
.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #E23703;
    clip-path: circle(800px at right 800px);
    border-radius: 0px 10px 10px 0px;
}

/* Responsividade */
@media (max-width: 1200px) {
    .content .textBox h2 {
        font-size: 3em;
    }
    .content .textBox p, .content .textBox a {
        font-size: 0.9em;
    }
    .content .imgBox img {
        max-width: 400px;
    }
    
    
}

@media (max-width: 992px) {
    .content {
        flex-direction: column;
        text-align: center;
    }
    .content .textBox {
        max-width: 100%;
        padding: 20px;
    }
    .content .imgBox {
        justify-content: center;
        padding: 0;
    }
    .content .imgBox img {
        max-width: 350px;
    }
    header {
        padding: 10px 50px;
    }
    header ul li a {
        margin-left: 20px;
    }
    
}

@media (max-width: 768px) {
    .content .textBox h2 {
        font-size: 2.5em;
        color: #fff;
    }
    .content .textBox p, .content .textBox a {
        font-size: 0.8em;
        color: #fff;
    }
    header {
        padding: 10px 20px;
    }
    header ul li a {
        font-size: 0.8em;
    }
    .form {
        width: 90vw;
        height: auto;
    }
    
    .content .textBox h2 {
        color: #fff;
    }

}

@media (max-width: 576px) {

    .content .textBox h2 span {
        color: #E23703;

    }

    .content .textBox h2 {
        font-size: 2em;
        color: #fff;
    }
    .content .textBox p, .content .textBox a {
        font-size: 0.7em;
    }
    .content .imgBox img {
        max-width: 300px;
    }

    #menu{
        display: none;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }
    header ul {
        flex-direction: column;
        margin-left: 0;
    }
    header ul li a {
        margin-left: 0;
        margin-top: 10px;
        font-size: 0.7em;
    }

    .thumb img {
        max-width: 10px;
    }
}
